<%- include("partials/header.ejs"); %>
<%- include("partials/sideBar.ejs"); %>
<div class="home-body">
    <h2>Gantt Previsionnel</h2>
    <table>
        <tr>
            <th>Opérations</th>
            <th>Week Start</th>
            <th>Week End</th>
            <th>Week Number Start</th>
            <th>Week Number End</th>
        </tr>
        <tr>
            <td>Présentation entreprise, formation en sécurité du travail, découvertes des outils et installation des outils</td>
            <td>11/04/2023</td>
            <td>14/04/2023</td>
            <td>W16</td>
            <td>W16</td>
        </tr>
        <tr>
            <td>Formations aux technologies utilisées php, mysql, ajax, CodeIgniter 4, mise en place de l’environnement de développement</td>
            <td>17/04/2023</td>
            <td>15/05/2023</td>
            <td>W17</td>
            <td>W20</td>
        </tr>
        <tr>
            <td>Finition de la feuille de saisie de rebuts, des historiques, filtres, de la modification, mise en forme</td>
            <td>25/04/2023</td>
            <td>20/05/2023</td>
            <td>W17</td>
            <td>W21</td>
        </tr>
        <tr>
            <td>Tests, correction d’erreurs, finition de l’application et validation</td>
            <td>23/05/2023</td>
            <td>01/06/2023</td>
            <td>W21</td>
            <td>W22</td>
        </tr>
        <tr>
            <td>Complétion de la documentation technique de l’application</td>
            <td>24/05/2023</td>
            <td>26/05/2023</td>
            <td>W22</td>
            <td>W22</td>
        </tr>
        <tr>
            <td>Recherche sur les API et formation sur la technologie de l’API choisie</td>
            <td>05/06/2023</td>
            <td>07/06/2023</td>
            <td>W23</td>
            <td>W23</td>
        </tr>
        <tr>
            <td>Implémentation du tableau de bord et test de la cohérence des données du tableau de bord</td>
            <td>07/06/2023</td>
            <td>07/07/2023</td>
            <td>W23</td>
            <td>W27</td>
        </tr>
        <tr>
            <td>Ecriture du rapport de stage</td>
            <td>01/07/2023</td>
            <td>13/07/2023</td>
            <td>W26</td>
            <td>W28</td>
        </tr>
        <tr>
            <td>Configurer metabase et faire une étude comparée des solutions de BI</td>
            <td>19/07/2023</td>
            <td>04/08/2023</td>
            <td>W29</td>
            <td>W31</td>
        </tr>
    </table>

    <br><br>
    <hr>
    
    <h2>Gantt réel</h2>
    <table>
        <tr>
            <th>Opérations</th>
            <th>Week Start</th>
            <th>Week End</th>
            <th>Week Number Start</th>
            <th>Week Number End</th>
        </tr>
        <tr>
            <td>Présentation entreprise, formation en sécurité du travail, découvertes des outils et installation des outils</td>
            <td>11/04/2023</td>
            <td>14/04/2023</td>
            <td>W16</td>
            <td>W16</td>
        </tr>
        <tr>
            <td>Formations aux technologies utilisées php, mysql, ajax, CodeIgniter 4, mise en place de l’environnement de développement</td>
            <td>17/04/2023</td>
            <td>25/05/2023</td>
            <td>W17</td>
            <td>W21</td>
        </tr>
        <tr>
            <td>Finition de la feuille de saisie de rebuts, des historiques, filtres, de la modification, mise en forme</td>
            <td>25/04/2023</td>
            <td>22/05/2023</td>
            <td>W17</td>
            <td>W21</td>
        </tr>
        <tr>
            <td>Tests, correction d’erreurs, finition de l’application et validation</td>
            <td>23/05/2023</td>
            <td>02/06/2023</td>
            <td>W21</td>
            <td>W22</td>
        </tr>
        <tr>
            <td>Complétion de la documentation technique de l’application</td>
            <td>24/05/2023</td>
            <td>01/06/2023</td>
            <td>W22</td>
            <td>W22</td>
        </tr>
        <tr>
            <td>Recherche sur les API et formation sur la technologie de l’API choisie</td>
            <td>05/06/2023</td>
            <td>07/06/2023</td>
            <td>W23</td>
            <td>W23</td>
        </tr>
        <tr>
            <td>Implémentation du tableau de bord et test de la cohérence des données du tableau de bord</td>
            <td>07/06/2023</td>
            <td>25/06/2023</td>
            <td>W23</td>
            <td>W26</td>
        </tr>
        <tr>
            <td>Ecriture du rapport de stage</td>
            <td>01/07/2023</td>
            <td>13/07/2023</td>
            <td>W26</td>
            <td>W28</td>
        </tr>
        <tr>
            <td>Configurer metabase et faire une étude comparée des solutions de BI</td>
            <td>19/07/2023</td>
            <td>20/07/2023</td>
            <td>W29</td>
            <td>W29</td>
        </tr>
    </table>
</div>

<%- include("partials/footer.ejs"); %>