<%- include("welcome_header.ejs"); %>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<main class="content">
    <!-- Your main content goes here -->
    <div>
        <h1>This web is a for Mali Universities</h1>
        <p>It's main goal is regroup all high level studies resources to permit to student and teachers to have an space where they can share 
            resources and kwnolegeds. </p>
    </div>
    <div class="badge-base LI-profile-badge" data-locale="fr_FR" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="souleymane-traore1" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://fr.linkedin.com/in/souleymane-traore1?trk=profile-badge">Souleymane TRAORE</a></div>
    <div class="badge-base LI-profile-badge" data-locale="fr_FR" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="souleymane-traore1" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://fr.linkedin.com/in/souleymane-traore1?trk=profile-badge">Souleymane TRAORE</a></div>
    <div class="badge-base LI-profile-badge" data-locale="fr_FR" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="souleymane-traore1" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://fr.linkedin.com/in/souleymane-traore1?trk=profile-badge">Souleymane TRAORE</a></div>
              


</main>

</body>
</html>