<%- include("welcome_header.ejs"); %>
<main class="content">
    <!-- Your main content goes here -->
    <div>
        <h1>This web is a for Mali Universities</h1>
        <p>It's main goal is regroup all high level studies resources to permit to student and teachers to have an space where they can share 
            resources and kwnolegeds. </p>
    </div>
</main>
</body>
</html>