

    <footer>
        <!-- <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Clermont ferrand, 1 Avenue Blaise Pascal 63170</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 00 33 60 56 72 169</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>souleymane.traore@etu.isima.fr</p>
                </li>
            </ul>
        </div> -->
    </footer>
    
</body>
</html>