<ul class="side-bar">
    <li><button id="capture-button">Capture</button></li>
    <li><button onclick="downloadPDF()">Download PDF</button></li>
    <li><button id="download-button">Download Image</button></li>
</ul>