
<div>
    <nav>
        <form action="" method="GET">
            <ul class="side-bar">
                <li><button name="item" value="1" onclick="handleButtonClick(1)">Cours</button></li>
                <li><button name="item" value="2" onclick="handleButtonClick(2)">Archives</button></li>
                <li><button name="item" value="3" onclick="handleButtonClick(3)">Formations</button></li>
                <li><button name="item" value="4" onclick="handleButtonClick(4)">Quiz</button></li>
                <li><button name="item" value="5" onclick="handleButtonClick(5)">Evènements</button></li>
                <li><button name="item" value="6" onclick="handleButtonClick(6)">Offres d'emplois</button></li>
            </ul>
        </form>
    </nav>    
</div>

<script>
    function handleButtonClick(itemNumber) {
        // Perform actions based on the clicked button
        let formElt = document.getElementsByTagName("form")[0];
        switch (itemNumber) {
            case 1:
                // Handle Item 1 click
                formElt.setAttribute('action', '/cours');
                break;
            case 2:
            // Handle Item 2 click
                formElt.setAttribute('action', '/archives');
                break;
            case 3:
                // Handle Item 3 click
                formElt.setAttribute('action', '/formations');
                break;
            case 4:
                // Handle Item 4 click
                formElt.setAttribute('action', '/quiz');
                break;
            case 5:
                // Handle Item 5 click
                formElt.setAttribute('action', '/events');
                break;
            case 6:
                // Handle Item 6 click
                formElt.setAttribute('action', '/offres');
                break;
            default:
                // Handle unknown button click
                break;
        }
    }
</script>