
<div class="sideBar">
    
    <li class="mb-2">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse" aria-expanded="false">
          Getting started
        </button>

        <div class="collapse" id="getting-started-collapse">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="" class="d-inline-flex align-items-center rounded">Introduction</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Download</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Contents</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Browsers &amp; devices</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">JavaScript</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Build tools</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Webpack</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Parcel</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Accessibility</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">RFS</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">RTL</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#customize-collapse" aria-expanded="false">
          Customize
        </button>

        <div class="collapse" id="customize-collapse" style="">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="" class="d-inline-flex align-items-center rounded">Overview</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Sass</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Options</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Color</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Components</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">CSS variables</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Optimize</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#layout-collapse" aria-expanded="false">
          Layout
        </button>

        <div class="collapse" id="layout-collapse">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="" class="d-inline-flex align-items-center rounded">Breakpoints</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Containers</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Grid</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Columns</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Gutters</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Utilities</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Z-index</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#content-collapse" aria-expanded="false">
          Content
        </button>

        <div class="collapse" id="content-collapse">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="" class="d-inline-flex align-items-center rounded">Reboot</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Typography</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Images</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Tables</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Figures</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#forms-collapse" aria-expanded="false">
          Forms
        </button>

        <div class="collapse" id="forms-collapse">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="" class="d-inline-flex align-items-center rounded">Overview</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Form control</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Select</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Checks &amp; radios</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Range</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Input group</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Floating labels</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Layout</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Validation</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="true" aria-current="true">
          Components
        </button>

        <div class="collapse show" id="components-collapse">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="" class="d-inline-flex align-items-center rounded">Accordion</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Alerts</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Badge</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Breadcrumb</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Buttons</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Button group</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Card</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Carousel</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Close button</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Collapse</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Dropdowns</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">List group</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Modal</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Navs &amp; tabs</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded active" aria-current="page">Navbar</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Offcanvas</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Pagination</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Popovers</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Progress</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Scrollspy</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Spinners</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Toasts</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Tooltips</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#helpers-collapse" aria-expanded="false">
          Helpers
        </button>

        <div class="collapse" id="helpers-collapse">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="" class="d-inline-flex align-items-center rounded">Clearfix</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Colored links</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Ratio</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Position</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Visually hidden</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Stretched link</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Text truncation</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#utilities-collapse" aria-expanded="false">
          Utilities
        </button>

        <div class="collapse" id="utilities-collapse">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="" class="d-inline-flex align-items-center rounded">API</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Background</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Borders</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Colors</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Display</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Flex</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Float</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Interactions</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Overflow</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Position</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Shadows</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Sizing</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Spacing</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Text</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Vertical align</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Visibility</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#extend-collapse" aria-expanded="false">
          Extend
        </button>

        <div class="collapse" id="extend-collapse">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="" class="d-inline-flex align-items-center rounded">Approach</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Icons</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#about-collapse" aria-expanded="false">
          About
        </button>

        <div class="collapse" id="about-collapse">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="" class="d-inline-flex align-items-center rounded">Overview</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Team</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Brand</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">License</a></li>
              <li><a href="" class="d-inline-flex align-items-center rounded">Translations</a></li>
          </ul>
        </div>
      </li>
      <li class="my-3 mx-4 border-top"></li>
      <li>
        <a href="" class="d-inline-flex align-items-center rounded">
          Migration
        </a>
      </li>
</div>